.toast {
  position: fixed;
  bottom: 40px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: ; */
  padding-block: 14px;
  padding-inline: 28px;
  border-radius: 12px;
  font: var(--text-16-medium);
}

.toast.success {
  background-color: var(--green);
  color: var(--green-text);
}

.toast.warning {
  background-color: var(--pink);
  color: var(--red);
}
