.container {
  padding: 20px;
}
.studyFormContainer {
  padding: 24px 24px 40px 24px;

  width: 100%;
  max-width: 696px;

  border-radius: 20px;
  background: var(--white, #fff);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

/*-----Form------*/
